body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
    list-style: none;
    text-align: left;
}

.tweet {
    padding: 20px 20px;

    img {
        margin-bottom: 10px;
    }
}

.link {
    color: rgb(20, 136, 204);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
